h1{
    color: $headerColor;
    background-color: $headerBackogrund;
}

.hola{
    p {
        color:$paragrahColor;
    }

    span {
            color:$spanColor;
    }

    p {
        color: $paragrahColor;
    }
}

